{{!-- <style>
    button:not(:disabled),
    [type="button"]:not(:disabled) {
        background-color: red;
    }
</style> --}}


<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">

<link href="/assets/css/style3.css" rel="stylesheet">
<div class="half" style="">

    <div class="contents order-2 order-md-1">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12" style="">
                    <div class=" pt-3 mb-5">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4"><u>Sales
                                Report:</u>{{data.start}}-{{data.end}}</p>
                    </div>
                    <div class=" d-flex pb-2 ">
                        <a href="#all" class="btn btn-danger ms-auto ">All Transactions</a>
                        <a href="#quick" class="btn btn-danger " style="margin-left: 10px;">Quick Analysis</a>
                    </div>

                    <div class="row ">
                        {{!-- <div class="col-md-4"></div> --}}
                        <div class="col-md-12  ">
                            <h5><u> Filter here...</u></h5>
                            <form action="/admin/custom-report" method="post">
                                <div class="form-row  ">
                                    <div class="form-group col-md-4">
                                        <label for="start">Starting Date</label>
                                        <input type="date" class="form-control" id="start" value="{{data.start}}"
                                            name="starting" required>
                                    </div>
                                    <div class="form-group col-md-4 ">
                                        <label for="end">Ending Date</label>
                                        <input type="date" class="form-control" id="end" value="{{data.end}}"
                                            name="ending" required>
                                    </div>
                                    <div class="form-group col-md-4 mt-4">
                                        <input type="submit" value="Submit" class="btn btn-block btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="container-fluid pt-5 px-2 pb-5" style="border: 4px black solid;">
                            <div class="row g-4" id="reportDwnld">
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-user fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Sales</p>
                                            <h5 class="mb-0">₹ {{data.totalSales}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-sharp fa-solid fa-tags fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Discount</p>
                                            <h5 class="mb-0">₹ {{data.discount}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-truck fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Orders</p>
                                            <h5 class="mb-0">{{data.totalOrders}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-regular fa-circle-check fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Orders Confirmed</p>
                                            <h5 class="mb-0">{{data.successOrders}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-wallet fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Wallet</p>
                                            <h5 class="mb-0"> {{data.wallet}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-brands fa-paypal fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Paypal </p>
                                            <h5 class="mb-0"> {{data.paypal}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-solid fa-money-bill fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Razorpay</p>
                                            <h5 class="mb-0"> {{data.razorpay}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa fa-duotone fa-sack-dollar fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Cash On Delivery</p>
                                            <h5 class="mb-0"> {{data.cod}}</h5>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-solid fa-coins fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Total Products Sold</p>
                                            <h5 class="mb-0"> {{data.productCount}}</h5>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xl-6 col-md-6">
                                    <div
                                        class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                                        <i class="fa-sharp fa-solid fa-circle-xmark fa-3x text-primary"></i>
                                        <div class="ms-3">
                                            <p class="mb-2">Orders Failed</p>
                                            <h5 class="mb-0"> {{data.failOrders}}</h5>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                            </div>

                        </div>
                        <div class="row mt-5 d-flex justify-content-center ">
                            <div class="col-md-6">
                                <div class=" card pt-5 " style="background-color:#fff;">
                                    <canvas class="p-2" id="bar"></canvas>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="bg-white card pt-5">
                                    <canvas class="" id="line"></canvas>
                                </div>
                            </div>

                            {{!-- <div class="col-md-6  ">
                                <div class="bg-white mt-3 card pt-5">
                                    <canvas class="" id="pie"></canvas>
                                </div>
                            </div> --}}
                        </div>
                        {{!--
                    </div> --}}
                    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
                    <div class="row text-center">
                    </div>

                    <section id="quick">

                        <div class="row mt-5">
                            <div class="col-md-12 bg-dark">
                                <h1 class="text-center text-white rounded pt-1">Quick Analysis</h1>
                                {{!-- <button onclick="generateReport()"
                                    class="btn btn-success mb-2 ml-auto mr-5">Download as
                                    PDF</button> --}}
                            </div>
                            <div class="col-md-12 card mt-4" id="salesReport">
                                {{#if data.noData}}
                                <table class="table table-hover" id="example1">
                                    {{else}}
                                    <table class="table table-hover" id="quickreport">
                                        {{/if}}
                                        <thead class="text-light">
                                            <tr>
                                                <th scope="col"></th>

                                                <th scope="col">Products Sold</th>
                                                <th scope="col">Revenue</th>
                                                <th scope="col">COD</th>
                                                <th scope="col">Razorpay</th>
                                                <th scope="col">Paypal</th>
                                                <th scope="col">Wallet</th>
                                                <th scope="col">Avg Revenue</th>
                                                <th scope="col">Total Orders</th>

                                            </tr>
                                        </thead>
                                        <tbody class="text-light">
                                            {{!-- {{#each data.currentOrders}} --}}
                                            <tr>
                                                <td><b> daily</b></td>

                                                <td>{{daily.productCount}}</td>
                                                <td>{{daily.totalSales}}</td>

                                                <td>{{daily.cod}}</td>


                                                <td>{{daily.razorpay}}</td>
                                                <td>

                                                    {{daily.paypal}}

                                                </td>
                                                <td>{{daily.wallet}}</td>
                                                <td>{{daily.averageRevenue}}</td>

                                                <td>{{daily.totalOrders}}</td>


                                            </tr>
                                            <tr>
                                                <td><b> Weekly</b></td>

                                                <td>{{weekly.productCount}}</td>
                                                <td>{{weekly.totalSales}}</td>

                                                <td>{{weekly.cod}}</td>


                                                <td>{{weekly.razorpay}}</td>
                                                <td>

                                                    {{weekly.paypal}}

                                                </td>
                                                <td>{{weekly.wallet}}</td>
                                                <td>{{weekly.averageRevenue}}</td>

                                                <td>{{weekly.totalOrders}}</td>

                                            </tr>
                                            <tr>
                                                <td><b> Yearly</b></td>

                                                <td>{{yearly.productCount}}</td>
                                                <td>{{yearly.totalSales}}</td>

                                                <td>{{yearly.cod}}</td>


                                                <td>{{yearly.razorpay}}</td>
                                                <td>

                                                    {{yearly.paypal}}

                                                </td>
                                                <td>{{yearly.wallet}}</td>
                                                <td>{{yearly.averageRevenue}}</td>
                                                <td>{{yearly.totalOrders}}</td>

                                            </tr>
                                            {{!-- {{/each}} --}}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </section>

                    <section id="all">

                        <div class="row mt-5">
                            <div class="col-md-12 bg-dark">
                                <h1 class="text-center text-white rounded pt-1">All Transactions</h1>
                                {{!-- <button onclick="generateReport()"
                                    class="btn btn-success mb-2 ml-auto mr-5">Download as
                                    PDF</button> --}}
                            </div>
                            <div class="col-md-12 card mt-4" id="salesReport">
                                {{#if data.noData}}
                                <table class="table " id="example1">
                                    {{else}}
                                    <table class="table " id="data">
                                        {{/if}}
                                        <thead class="text-light">
                                            <tr>
                                                <th scope="col">No.</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">User</th>
                                                <th scope="col">Amount</th>
                                                {{!-- <th scope="col">Discount</th> --}}
                                                <th scope="col">Payment</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-light">
                                            {{#each data.currentOrders}}
                                            <tr>
                                                <td>{{inc @index}}</td>
                                                <td>{{this.date}}</td>

                                                <td>{{this.deliveryDetails.name}}</td>


                                                <td>{{this.totalAmount}}</td>
                                                {{!-- <td>
                                                    {{#if this.discount}}
                                                    {{this.discount}}
                                                    {{else}}
                                                    0{{/if}}
                                                </td> --}}
                                                <td>{{this.paymentMethod}}</td>
                                                <td>{{this.status}}</td>


                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
</div>



{{!-- datatable js --}}
{{!--
<script src="https://code.jquery.com/jquery-3.5.1.js"></script> --}}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>

<script>
    $(document).ready(function () {
        $('#data').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "searching": true,
            "paging": false,
            'ordering': false,
            'info': false
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#quickreport').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "searching": true,
            "paging": false,
            'ordering': false,
            'info': false
        });
    });
</script>

<script>
    var ctx = document.getElementById('bar').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {
            labels: ['Total Orders', 'Success Orders', 'Fail Orders'],
            datasets: [{
                label: 'Order Summary',
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,


                data: [{{ data.totalOrders }}, {{ data.successOrders }},{{ data.failOrders }}]
			}]
		},

    // Configuration options go her e
    options: { }
	});


    var line = document.getElementById('line').getContext('2d');
    var chart = new Chart(line, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ['COD', 'Razorpay', 'Paypal', 'wallet'],
            datasets: [{
                label: 'Payment Method',
                backgroundColor: ['rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)',
                    'rgba(75, 192, 192, 0.8)',
                    'rgba(153, 102, 255, 0.8)',
                    'rgba(255, 159, 64, 0.8)'],

                data: [{{ data.cod }}, {{ data.razorpay }},{{ data.paypal }}, {{ data.wallet }}]
			}]
		},

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
	});

    {{!-- var pie = document.getElementById('pie').getContext('2d');
    var chart = new Chart(pie, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: ['Total Sales Amount', 'Total Discount Amount'],
            datasets: [{

                backgroundColor: [

                    'rgba(255, 99, 132, 0.8)',
                    'rgba(54, 162, 235, 0.8)',
                    'rgba(255, 206, 86, 0.8)'
                ],
                borderColor: [

                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],


                data: [{{ data.totalSales }}, {{ data.discount }}]
    }]
		},

    // Configuration options go here
    options: {
        scales: {
            yAxes: [{
                stacked: true
            }]
        }
    }
	}); --}}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.1/html2pdf.bundle.min.js"></script>

<script>
    function generatePDF() {
        // Choose the element that our invoice is rendered in.
        const element = document.getElementById('reportDwnld');
        // Choose the element and save the PDF for our user.
        html2pdf().from(element).save();
    }
</script>

<script>
    function generateReport() {
        // Choose the element that our invoice is rendered in.
        const element = document.getElementById('salesReport');
        // Choose the element and save the PDF for our user.
        html2pdf().from(element).save();
    }
</script>